.MenuPeopleCont {
  width: 22%;
  position: fixed;
  left: 0;
  /* display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around; */
  border-right: 1px solid rgba(255, 255, 255, 0.288);
  height: 100vh;
}
.MenuPeopleCont__logo {
  background: linear-gradient(
    125deg,
    #ecfcff 0%,
    #ecfcff 40%,
    #b2fcff calc(40% + 1px),
    #b2fcff 60%,
    #5edfff calc(60% + 1px),
    #5edfff 72%,
    #3e64ff calc(72% + 1px),
    #3e64ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
