.Menu__optionIconContainer {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.Menu__menuOptionText {
	color: #b0b0b3;
}

.Menu__menuOptionText--active {
	color: white;
}
.Menu {
	width: 8%;
	position: relative;
}
