.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
}

.HomePage {
  background: #24242e;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}
