.User__peopleComponentUserImage {
	width: 40px;
	height: auto;
	object-fit: contain;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.User__userContainer {
	display: flex;
	/* justify-content: space-around; */
	margin: 10px 0;
}
.User__nameUsernameContainer {
	margin-left: 10px;
}
